Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Flask-Migrate
WTForms
email_validator
pandas
numpy
scikit-learn
google-generativeai
requests
Pillow
python-dotenv
gunicorn
psycopg2-binary
Werkzeug
flask-compress
fastapi
uvicorn
python-multipart
aiofiles
a2wsgi
torch
sentence-transformers
scipy
lxml
beautifulsoup4
flask-cors
flask-caching
flask-jwt-extended
redis
apscheduler
faiss-cpu
